{% extends "layout.html" %}
{% block body %}

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : About me</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>Hello World! I am Subhojit Mondal</h3>
                  <p>A Python/WordPress developerbut still exploring other technologies and frameworks that catch my interest! if you're looking for a developer to add to your team, I'd love to hear from you! </p>
                  <h3>Technology leads, Society follows </h3>
                  <p>I love creating pages where I’m able to actually create enjoyable interactions and experiences for everyone!
                  
                  <p>
                  I spend most days branding, designing and building out web interfaces as a freelancer. Nowadays into a new hobby'Photgraphy'.</p>
                  <p>Here I will share my thought, my learning and anything I feel worth sharing.</p>

                </div>
                <div class="col-xs-12 col-md-6">
                  <img src="./static/assets/images/profil.jpg" class="img-responsive" alt="">
                </div>
              </div>
            </div>
          </div>
          
          
       </div>
      </div>
    </div>
  </div>


{% endblock %}

