{% extends "layout.html" %}
{% block body %}

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">04 : Contact me</h1>
          </div>
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  <ul class=flashes>
                  {% for message in messages %}
                  <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    
                  {% endfor %}
                  </ul>
                {% endif %}
              {% endwith %}
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
         
               <form action="/contact" method="POST" class="reveal-content">
                  <div class="row">
                    <div id="success" class="col-md-7">
                      <div class="form-group">
                        <input name="email" type="email" class="form-control" id="email" placeholder="Email">
                      </div>
                      <div class="form-group">
                        <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject">
                      </div>
                      <div class="form-group">
                        <textarea name="message" class="form-control" rows="5" placeholder="Enter your message"></textarea>
                      </div>
                      <button type="submit" class="btn btn-default btn-lg">Send</button>
                    </div>
                    <div class="col-md-5 address-container">
                      <ul class="list-unstyled">
                        <li>
                          <span class="fa-icon">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                          </span>
                          + 91 8820526100
                        </li>
                        <li>
                          <span class="fa-icon">
                            <i class="fa fa-at" aria-hidden="true"></i>
                          </span>
                          subhojit.sparks@gmail.com
                        </li>
                        <li>
                          <span class="fa-icon">
                            <i class="fa fa fa-map-marker" aria-hidden="true"></i>
                          </span>
                          Newtown, Kolkata
                        </li>
                      </ul>
                      <h3>Follow me on social networks</h3>
                      <a href="{{params['fb_url']}}" target="_blank"  title="" class="fa-icon">
                        <i class="fa fa-facebook"></i>
                      </a>
                      <a href="{{params['tw_url']}}" target="_blank"title="" class="fa-icon">
                        <i class="fa fa-twitter"></i>
                      <a href="{{params['lk_url']}}" target="_blank"title="" class="fa-icon">
                        <i class="fa fa-linkedin"></i>
                      </a>
                      <a href="{{params['git_url']}}" target="_blank" title="" class="fa-icon">
                        <i class="fa fa-github"></i>
                      </a>

                    </div>
                  </div>
                </form>
            </div>

          </div>
         
       </div>
      </div>
    </div>
  </div>

{% endblock %}
